%p#notice= notice

%p
  %b Title:
  = @page.title


%div
  -# @Question: Wie komme ich jetzt an die versch. Varianten der Elemente?
  - @content_elements.each do |content_element|
    - base_name = content_element.content_element_type_type.demodulize
    - folder = base_name.pluralize.underscore
    - file = base_name.underscore
    = render partial: "#{folder}/#{file}", locals: { content_element_type: content_element.content_element_type  }

%p
  = link_to 'New Button', new_page_button_path(@page)
%p
  = link_to 'New Headline', new_page_headline_path(@page)

= link_to 'Edit', edit_page_path(@page)
\|
= link_to 'Back', pages_path
