%p#notice= notice

%p
  %b Title:
  = @page.title


%div
  -# @Question: Wie komme ich jetzt an die versch. Varianten der Elemente?
  - @sections.each do |section|
    - base_name = section.content_element_type.demodulize
    - folder = base_name.pluralize.underscore
    - file = base_name.underscore
    = render partial: "#{folder}/#{file}", locals: { content_element: section.content_element  }

= link_to 'New Button', new_page_button_path(@page)

= link_to 'Edit', edit_page_path(@page)
\|
= link_to 'Back', pages_path
